body { 
 
  background-image: url("auf_-dem-bierkeller-in-bamberg-bamberg_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* fallback, just to be sure */ 

  }

header {
  font-size: 40px;
  color: Black;
  font-weight: bold;
  background-color: lightsteelblue;
  /* fallback */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}

/*
nav > ul li       ul { display: none; }
nav > ul li:hover ul { display: block;}
*/

nav.vertNav {
  position: relative;
  width: 200px;
}

nav.vertNav ul {
  list-style: none;
}

nav.vertNav li {
  position: relative;
}

nav.vertNav a {
  display: block;
  color: #eee;
  text-decoration: none;
  padding: 15px;
  background: grey;
  transition: 0.3s;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}

nav.vertNav li:hover > a {
  background: green;
}

nav.vertNav ul ul {
  position: absolute;
  left: 0%;
  top: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.4s;
  transform: translateX(80px);
}

nav.vertNav li:hover > ul {
  left: 70%;
  visibility: visible;
  opacity: 1;
  transform: translateX(0px);
}

section {
  margin-left: 250px;
  margin-right: 25px;
  float: top;
  max-width: 900px;
}

.clear {
  clear: both;
  padding-bottom: 150px;
  min-height: 100%;
}

footer {
  /* font-family: 'Sirin Stencil'; */
  font-size: 18px;
  color: white;
  background-color: lightsteelblue;
  /* fallback */
  background-image: url("../img/bees/bees-footer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  padding: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 50px;
  margin: 10px;
  /* width:98%; */
  /* border-radius: 20px; */
}

figure {
  float: left;
  /* width: 30%; ist pfusch, aus https://www.w3.org/Style/Examples/007/figures.de.html, zerhaut aber alles*/
  text-align: center;
  font-style: italic;
  /* font-size: smaller; */
  text-indent: 0;
  /* border: medium silver solid; */
  margin: 0.5em;
  padding: 0.5em;
}

.roundRect {
  border-radius: 10px;
  padding: 10px;
}
